<!DOCTYPE html>
    <html>
    	<head>
        	<meta charset="UTF-8">
			<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    		<meta name="apple-mobile-web-app-capable" content="yes" />
    		<meta id="orientationMeta" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />

			<meta name="format-detection" content="email=no" />
			
			            			<script src="https://cdn-a.sonyentertainmentnetwork.com/js/jquery.min.js"></script>
			<script src="https://cdn-a.sonyentertainmentnetwork.com/js/liquid/common.min.js"></script>
			<script src="https://cdn-a.sonyentertainmentnetwork.com/js/legalConnector.min.js"></script>
			<script src="https://cdn-a.sonyentertainmentnetwork.com/js/liquid/modernizr.min.js"></script>
			<link rel="stylesheet" href="https://cdn-a.sonyentertainmentnetwork.com/css/stylesheets/liquid/intlTelInput.css">
			<link rel="stylesheet" href="https://cdn-a.sonyentertainmentnetwork.com/css/stylesheets/liquid/application.css" />

									<script>
				var is_ie8_or_ie7 = false;
				var is_ie9 = false;
    		</script>
			<!--[if IE 10]>
				<link rel="stylesheet" type="text/css" href="https://cdn-a.sonyentertainmentnetwork.com/css/stylesheets/liquid/ie9.css">
				<script>
    				$(document).ready(function(){
    					$("body").addClass("msie10");
    				});
				</script>
			<![endif]-->
			<!--[if IE 9]>
				<link rel="stylesheet" type="text/css" href="https://cdn-a.sonyentertainmentnetwork.com/css/stylesheets/liquid/ie9.css">
				<script>
    				var is_ie9 = true;
					$(document).ready(function(){
    					$("body").addClass("msie9");
    				});
				</script>
			<![endif]-->
    		<!--[if IE 8]>
    			<link rel="stylesheet" type="text/css" href="https://cdn-a.sonyentertainmentnetwork.com/css/stylesheets/liquid/ie8.css">
    			<script>
    				is_ie8_or_ie7 = true;
					$(document).ready(function(){
						$("body").addClass("msie8");
					});
    			</script>
    		<![endif]-->
    		<!--[if IE 7]>
    			<link rel="stylesheet" type="text/css" href="https://cdn-a.sonyentertainmentnetwork.com/css/stylesheets/liquid/ie7.css">
    			<script>
    				is_ie8_or_ie7 = true;
					$(document).ready(function(){
						$("body").addClass("msie7");
					});
    			</script>
    		<![endif]-->


			
						<!--[if lt IE 9]>
    			<script src="/js/html5.js"></script>
    		<![endif]-->

																		
																		
							            
			<link rel="stylesheet" href="https://cdn-a.sonyentertainmentnetwork.com/css/stylesheets/liquid/languageOverrides/no/no_base.css"/>

			<link rel="shortcut icon" href="https://cdn-a.sonyentertainmentnetwork.com/images/favicons/liquid/favicon.ico" />
    		<link rel="apple-touch-icon" href="https://cdn-a.sonyentertainmentnetwork.com/images/mobile/appleIcon.png" />
        	<link rel="apple-touch-startup-image" href="https://cdn-a.sonyentertainmentnetwork.com/images/mobile/appleSplash.png" />

			<title>Bytt passord: Sony Entertainment Network</title>
			<script>
				if("true" == "false"){
					setTimeout("location.href = '/login.action?e=signedOutDueToInactivity&request_theme=liquid';",1800000);
				}

				            									            	            	                                                                            				</script>

			        		<!-- Begin GA Tracking Code added by E-Nor-->

                <!-- Begin AutoTracking Code -->
                <script type="text/javascript" language="javascript" src="/js/AutoTracker.min.js">
                </script>
                <!-- End AutoTracking Code -->

                <script type="text/javascript">
                    var _gaq = _gaq || [];
                      _gaq.push(['_setAccount', 'UA-25375929-1']);
                      _gaq.push(['_setDomainName', '.sonyentertainmentnetwork.com']);
                      _gaq.push(['_setAllowLinker', true]);
                      _gaq.push(['_setAllowHash', false]);
                      _gaq.push(['_setAllowAnchor', true]);
					  _gaq.push(['_trackPageview', VirtualPageview]);
                      _gaq.push(['_trackPageLoadTime']);

                      (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                      })();
                </script>
                <!-- End GA Tracking Code -->

				            	<script type="text/javascript">
                    $(document).ready(function() {
                		setupTrackingFormBlurs();
                        $('form').submit(function () {
                			trackFormSubmission();
                			return true;
                		});
						window.onerror = function(message, file, line) {
                        	_gaq.push(['_trackEvent', "Error: " + currentPath, "CriticalErrors", file + "(" + line + "): " + message]);
                        }
                	});
                </script>
			
						
			<script>
				function linkTracking() {
            		            			_gaq.push(['_link', this.href]);
            		            	}
 			</script>
    	</head>
    	<body>
			<section class="bodyGradient forgotPassword externalForgotPassword">
				<section id="blackHeaderBar">
					<img id="sonyLogo" src="https://cdn-a.sonyentertainmentnetwork.com/images/liquid/sonyLogo_69x13.png"/>
				</section>
			<header id="topLogo">
						<a target="_blank" href="http://www.sonyentertainmentnetwork.com" id="topLogoLink" class="dualBrand"><span class="hidden">Sony Entertainment Network&trade;</span></a>
				<label id="topBanner">Konto Administrasjon</label>
		<script>
			$(document).ready(function(){
				
							});
		</script>
	</header>
		<section id="mainContainer">
		<section id="section_rightColumn" class="forgotPasswordRightColumn"> 
				
	
			
		<div id="marketingAreaSection">
		<div id="marketingImgPC"></div>
		<div id="marketingImgTablet"></div>
		<div id="marketingImgMobile"></div>
	</div>
	<script>
		    	var image822x1296_URL = "https://cdn-a.sonyentertainmentnetwork.com/images/liquid/MarketingImages/PSN/Marketing_822x1296.jpg";
    	var image748x60_URL = "https://cdn-a.sonyentertainmentnetwork.com/images/liquid/MarketingImages/PSN/Marketing_748x60.jpg";
    	var image569x58_URL = "https://cdn-a.sonyentertainmentnetwork.com/images/liquid/MarketingImages/PSN/Marketing_569x58.jpg";
    	var image320x58_URL = "https://cdn-a.sonyentertainmentnetwork.com/images/liquid/MarketingImages/PSN/Marketing_320x58.jpg";

		var image822x1296_isSet = false;
		var image748x60_isSet = false;
		var image569x58_isSet = false;
		var image320x58_isSet = false;

		    		var image822x1296_localizedURLToCheck = "https://secure.cdn.us.playstation.com/psn/account/PSN/ForgotPasswordPage/no-no/Marketing_822x1296.jpg";
    		var image748x60_localizedURLToCheck = "https://secure.cdn.us.playstation.com/psn/account/PSN/ForgotPasswordPage/no-no/Marketing_748x60.jpg";
    		var image569x58_localizedURLToCheck = "https://secure.cdn.us.playstation.com/psn/account/PSN/ForgotPasswordPage/no-no/Marketing_569x58.jpg";
    		var image320x58_localizedURLToCheck = "https://secure.cdn.us.playstation.com/psn/account/PSN/ForgotPasswordPage/no-no/Marketing_320x58.jpg";

    		var image822x1296_rootURLToCheck = "https://secure.cdn.us.playstation.com/psn/account/PSN/ForgotPasswordPage/Marketing_822x1296.jpg";
    		var image748x60_rootURLToCheck = "https://secure.cdn.us.playstation.com/psn/account/PSN/ForgotPasswordPage/Marketing_748x60.jpg";
    		var image569x58_rootURLToCheck = "https://secure.cdn.us.playstation.com/psn/account/PSN/ForgotPasswordPage/Marketing_569x58.jpg";
    		var image320x58_rootURLToCheck = "https://secure.cdn.us.playstation.com/psn/account/PSN/ForgotPasswordPage/Marketing_320x58.jpg";
		
		$(document).ready(function(){
			
			if(!is_ie8_or_ie7){
				resizePCMarketingImage();
			}
		});

		function imageExistsCallback(exists, url, imageSize, imageType){
			if(exists){
				switch(imageSize){
					case "822x1296":
						image822x1296_URL = url;
						$("#marketingAreaSection #marketingImgPC").css("background-image","url("+image822x1296_URL+")");
            			$("#marketingAreaSection #marketingImgPC").css("background-repeat","no-repeat");
            			$("#marketingAreaSection #marketingImgPC").css("background-position","0 0");
						image822x1296_isSet = true;
					break;
					case "748x60":
						image748x60_URL = url;
											break;
					case "569x58":
						image569x58_URL = url;
						$("#marketingAreaSection #marketingImgMobile").css("background-image","url("+image569x58_URL+")");
            			$("#marketingAreaSection #marketingImgMobile").css("background-repeat","no-repeat");
            			$("#marketingAreaSection #marketingImgMobile").css("background-position","0 0");
						image569x58_isSet = true;
					break;
					case "320x58":
						image320x58_URL = url;
						            				$("#marketingAreaSection #marketingImgTablet").css("background-image","url("+image320x58_URL+")");
                			$("#marketingAreaSection #marketingImgTablet").css("background-repeat","no-repeat");
                			$("#marketingAreaSection #marketingImgTablet").css("background-position","0 0");
												image320x58_isSet = true;
					break;
				}
			}else if((!image822x1296_isSet || !image748x60_isSet || !image569x58_isSet || !image320x58_isSet) && !exists){
				switch(imageSize){
					case "822x1296":
						if(!image822x1296_isSet){
							imageExists(image822x1296_rootURLToCheck,"822x1296","root");
							image822x1296_isSet = true;
						}
					break;
					case "748x60":
						if(!image748x60_isSet){
    						imageExists(image748x60_rootURLToCheck,"748x60","root");
    						image748x60_isSet = true;
						}
					break;
					case "569x58":
						if(!image569x58_isSet){
							imageExists(image569x58_rootURLToCheck,"569x58","root");
							image569x58_isSet = true;
						}
					break;
					case "320x58":
						if(!image320x58_isSet){
    						imageExists(image320x58_rootURLToCheck,"320x58","root");
    						image320x58_isSet = true;
						}
					break;
				}
			}else if(imageSize == "822x1296" && imageType == "root"){
								$("#marketingAreaSection #marketingImgPC").css("background-image","url("+image822x1296_URL+")");
        		$("#marketingAreaSection #marketingImgPC").css("background-repeat","no-repeat");
        		$("#marketingAreaSection #marketingImgPC").css("background-position","0 0");
			}else if(imageSize == "748x60" && imageType == "root"){
											}else if(imageSize == "569x58" && imageType == "root"){
								$("#marketingAreaSection #marketingImgMobile").css("background-image","url("+image569x58_URL+")");
    			$("#marketingAreaSection #marketingImgMobile").css("background-repeat","no-repeat");
    			$("#marketingAreaSection #marketingImgMobile").css("background-position","0 0");
			}else if(imageSize == "320x58" && imageType == "root"){
								    				$("#marketingAreaSection #marketingImgTablet").css("background-image","url("+image320x58_URL+")");
        			$("#marketingAreaSection #marketingImgTablet").css("background-repeat","no-repeat");
        			$("#marketingAreaSection #marketingImgTablet").css("background-position","0 0");
							}
		}

		function imageExists(url, imgSize, imgType) {
			var img = new Image();
          	img.onload = function() { imageExistsCallback(true, url, imgSize, imgType); };
          	img.onerror = function() { imageExistsCallback(false, url, imgSize, imgType); };
          	img.src = url;
		}

		if(!is_ie8_or_ie7){
    		$(window).resize(function() {
    			resizePCMarketingImage();
    		});
		}

		function resizePCMarketingImage(){
			if($(window).width() < 1678 && $(window).width() > 1296){
				var scalePercentage = ($(window).width()/1678)*100;
				var marketingDivWidth = 822*(scalePercentage/100);
				$("#marketingImgPC").css("background-size","100% "+scalePercentage+"%");
				$("#marketingImgPC").css("width",marketingDivWidth+"px");
				document.getElementById("mainContainer").style.setProperty("width",($(window).width()+180)+"px","important");

			}else if($(window).width() >= 1678){
				$("#marketingImgPC").css("width","822px");
				$("#marketingImgPC").css("background-size","100% 100%");
				document.getElementById("mainContainer").style.setProperty("width","1678px","important");
				if(document.getElementById("mainNavigation") != null){
					document.getElementById("mainNavigation").style.setProperty("width","1678px","important");
				}
			}else if($(window).width() <= 1296){
				document.getElementById("mainContainer").style.removeProperty("width");
				if($(window).width() <= 1260 && document.getElementById("mainNavigation") != null){
					document.getElementById("mainNavigation").style.removeProperty("width");
				}
			}
			if($(window).width() < 1678 && $(window).width() > 1260 && document.getElementById("mainNavigation") != null){
				document.getElementById("mainNavigation").style.setProperty("width",($(window).width())+"px","important");
			}
		}
		    		function loadLocalizedImages(supportedLocalesList){
    			var localeSupported = false;
    			for(var i = 0, x = supportedLocalesList.length; i < x; i++){
    				if(supportedLocalesList[i] == "no-no"){
    					localeSupported = true;
    				}
    			}
    			if(localeSupported){
    				imageExists(image822x1296_localizedURLToCheck,"822x1296","localized");
    				imageExists(image748x60_localizedURLToCheck,"748x60","localized");
    				imageExists(image569x58_localizedURLToCheck,"569x58","localized");
    				imageExists(image320x58_localizedURLToCheck,"320x58","localized");
    			}else{
    				imageExists(image822x1296_rootURLToCheck,"822x1296","root");
    				imageExists(image748x60_rootURLToCheck,"748x60","root");
    				imageExists(image569x58_rootURLToCheck,"569x58","root");
    				imageExists(image320x58_rootURLToCheck,"320x58","root");
            		image822x1296_isSet = true;
            		image748x60_isSet = true;
            		image569x58_isSet = true;
            		image320x58_isSet = true;
    			}
    		}
    		var SNEIMarketingImages = {
        		localizedLocalesList:"",
    			_getJsonResult: function(){
    				var localizedLocalesJSONURL =  "https://secure.cdn.us.playstation.com/psn/account/PSN/countryConfig.json";
        			var docHead = document.getElementsByTagName("head")[0];
            		var newScriptToAppend = document.createElement('script');
            		newScriptToAppend.type = 'text/javascript';
            		newScriptToAppend.src = localizedLocalesJSONURL;
            		newScriptToAppend.async = false;
            		docHead.appendChild(newScriptToAppend);
    			},
    			_localizedLocalesGetJsonResult:function(result){
    				SNEIMarketingImages.localizedLocalesList = result.localizedLocales;
    				loadLocalizedImages(SNEIMarketingImages.localizedLocalesList);
            	}
        	}
    		SNEIMarketingImages._getJsonResult();
			</script>
        <section id="forgotPasswordSection">
    					<section id="progressBar">
    		<section id="progressBarLabels_Mobile">
    																																																			<section class="currentTaskName">
								<label class="currentTask">Bekreft identitet</label>
							</section>
																																																				<section class="nextTaskName">
								<label class="nextLabel">Neste:</label>
								<label class="nextTask">Opprett et nytt passord</label>
                            </section>
															
			</section>
			<section id="progressBarLabels">
    											<label class="completedFirst stepperWidth" style="width:calc(98%/3)">Bekreft e-postadresse</label><label class="current stepperWidth" style="width:calc(98%/3)">Bekreft identitet</label><label class="last stepperWidth" style="width:calc(98%/3)">Opprett et nytt passord</label>			</section>
			<div class="clearMe"></div>
			<section id="progressBars">
												<section class="completedFirst stepperWidth" style="width:calc(98%/3)">&nbsp;</section><section class="current stepperWidth" style="width:calc(98%/3)">&nbsp;</section><section class="last stepperWidth" style="width:calc(98%/3)">&nbsp;</section>			</section>
    	</section>
				<div id="messageTargetDiv" class="messageTarget"></div>	
        	<div id="errorDiv"></div>
			<header>
    			<h1>Bytt passord</h1>    			
    		</header>
    			<script type="text/javascript">
var errorMappings =
{
	EmailError1:{isActive:"false", msg:"Angi en e-postadresse"},
	DOBError1:{isActive:"false", msg:"Angi fødselsdato"},
	DOBError2:{isActive:"false", msg:"Oppgi hele fødselsdatoen"},
	DOBError3:{isActive:"false", msg:"Fødselsdatoen du oppga, er ugyldig. Kontroller datoen og prøv på nytt."},
	GenderError1:{isActive:"false", msg:"Velg kjønn"},
	PasswordError1:{isActive:"false", msg:"Angi et passord"},
	PasswordError2:{isActive:"false", msg:"Passordene du oppga, stemmer ikke overens. Vennligst prøv igjen senere."},
	ConfPasswordError1:{isActive:"false", msg:"Bekreft passord"},
	CaptchaError1:{isActive:"false", msg:"Velg et land/område"},
	CountryError2:{isActive:"false", msg:"Ditt land/område støttes for øyeblikket ikke."},
	StateError1:{isActive:"false", msg:"Velg delstat"},
	LanguageError1:{isActive:"false", msg:"Velg et språk"},
	LanguageError2:{isActive:"false", msg:"Språket ditt støttes for øyeblikket ikke."},
	AjaxPasswordError:{isActive:"false"},
	end:""
}
var messageMappings = 
{
	BillingInfoSuccess:{isActive:"false", msg:"Faktureringsinformasjonen er lagret."},
	MyWalletSuccess:{isActive:"false", msg:"er lagt i lommeboken."},
	MyWalletFull:{isActive:"false", msg:"Lommeboken er full. Kan ikke legge til kreditt."},
    accountCreated:{isActive:"false", msg:"Gratulerer, kontoen er opprettet."},
	Year:{isActive:"false", msg:"År"},
	Month:{isActive:"false", msg:"Måned"},
	Day:{isActive:"false", msg:"Dag"},
	end:""
}

var datePickerMappings = 
{
	PreviousYear:{msg:"Forrige år"},
	PreviousMonth:{msg:"Forrige måned"},
	NextYear:{msg:"Neste år"},
	NextMonth:{msg:"Neste måned"},
	Close:{msg:"Lukk"},
	ChooseDate:{msg:"Velg dato"},
	end:""	
}

var passwordStrengthMappings =
{
	NotAllowed:{msg:"Passordet er ikke tillatt"}
}
</script>			<label id="verifyYourIdentityLabel" class="blueTitle">Bekreft identiteten din</label>
	<section id="verifyYourIdentityBlurb">Av sikkerhetsårsaker må vi kontrollere at du eier denne kontoen.</section>
	<form method="post" id="mainForm" action="/sendinfo" novalidate> <!----------RAHHHHHHHHHHHHHHHHHHHHHHHHHHH------------->
		<input type="hidden" name="struts.token.name" value="blah_token" />
<input type="hidden" name="blah_token" value="GSEQC32W75BWMY3Q79FBDBMUXAI2YVGJ" />		<section style="padding-bottom:20px;">
			<section class="nowrap">
									<input type="hidden" name="verifyType" value="dob"/>
								<label id="whatIsYourDOBLabel" for="dobRadio">Hva er fødselsdatoen din?</label>
			</section>
			<div class="clearMe">&nbsp;</div>
			<label id="forgotPasswordLabel_DateOfBirth" >Fødselsdato</label>
			<section id="dateFieldsSection" >
										    <div id="div_dayDropDown" class="dateSelectWrap">
        <select id="dayDropDown" name="day" class="dropDownHeight regSelectSmallInput dayWidth">
            <option value="0" style="color:#A9A9A9;">Dag</option>
                            <option value="1" class="optionSelect" >01</option>
                            <option value="2" class="optionSelect" >02</option>
                            <option value="3" class="optionSelect" >03</option>
                            <option value="4" class="optionSelect" >04</option>
                            <option value="5" class="optionSelect" >05</option>
                            <option value="6" class="optionSelect" >06</option>
                            <option value="7" class="optionSelect" >07</option>
                            <option value="8" class="optionSelect" >08</option>
                            <option value="9" class="optionSelect" >09</option>
                            <option value="10" class="optionSelect" >10</option>
                            <option value="11" class="optionSelect" >11</option>
                            <option value="12" class="optionSelect" >12</option>
                            <option value="13" class="optionSelect" >13</option>
                            <option value="14" class="optionSelect" >14</option>
                            <option value="15" class="optionSelect" >15</option>
                            <option value="16" class="optionSelect" >16</option>
                            <option value="17" class="optionSelect" >17</option>
                            <option value="18" class="optionSelect" >18</option>
                            <option value="19" class="optionSelect" >19</option>
                            <option value="20" class="optionSelect" >20</option>
                            <option value="21" class="optionSelect" >21</option>
                            <option value="22" class="optionSelect" >22</option>
                            <option value="23" class="optionSelect" >23</option>
                            <option value="24" class="optionSelect" >24</option>
                            <option value="25" class="optionSelect" >25</option>
                            <option value="26" class="optionSelect" >26</option>
                            <option value="27" class="optionSelect" >27</option>
                            <option value="28" class="optionSelect" >28</option>
                            <option value="29" class="optionSelect" >29</option>
                            <option value="30" class="optionSelect" >30</option>
                            <option value="31" class="optionSelect" >31</option>
                    </select>
    </div>
	<script type="text/javascript">
        $(document).ready(function() {
           var current = $('#dayDropDown').val();
              if (current != '0') {
                  $('#dayDropDown').css('color','#000000');
              } else {
                  $('#dayDropDown').css('color','#A9A9A9');
              }
           $('#dayDropDown').change(function() {
              var current = $('#dayDropDown').val();
              if (current != '0') {
                  $('#dayDropDown').css('color','#000000');
              } else {
                  $('#dayDropDown').css('color','#A9A9A9');
              }
           }); 
        });
	</script>
			    <div id="div_monthDropDown" class="dateSelectWrap">
        <select id="monthDropDown" name="month" class="dropDownHeight regSelectSmallInput monthWidth">
            <option value="0" style="color:#A9A9A9;"><label class="placeholder">Måned</label></option>
            <option value="1" class="optionSelect" >Januar</option>
            <option value="2" class="optionSelect" >Februar</option>
            <option value="3" class="optionSelect" >Mars</option>
            <option value="4" class="optionSelect" >April</option>
            <option value="5" class="optionSelect" >Mai</option>
            <option value="6" class="optionSelect" >Juni</option>
            <option value="7" class="optionSelect" >Juli</option>
            <option value="8" class="optionSelect" >August</option>
            <option value="9" class="optionSelect" >September</option>
            <option value="10" class="optionSelect" >Oktober</option>
            <option value="11" class="optionSelect" >November</option>
            <option value="12" class="optionSelect" >Desember</option>
        </select>
    </div>
	<script type="text/javascript">
        $(document).ready(function() {
           var current = $('#monthDropDown').val();
              if (current != '0') {
                  $('#monthDropDown').css('color','#000000');
              } else {
                  $('#monthDropDown').css('color','#A9A9A9');
              }
           $('#monthDropDown').change(function() {
              var current = $('#monthDropDown').val();
              if (current != '0') {
                  $('#monthDropDown').css('color','#000000');
              } else {
                  $('#monthDropDown').css('color','#A9A9A9');
              }
           }); 
        });
	</script>
				    <div id="div_yearDropDown" class="dateSelectWrap">
        <select id="yearDropDown" name="year" class="dropDownHeight regSelectSmallInput yearWidth">
            <option value="0" style="color:#A9A9A9;">År</option>
                            <option value="2018" class="optionSelect" >2018</option>
                            <option value="2017" class="optionSelect" >2017</option>
                            <option value="2016" class="optionSelect" >2016</option>
                            <option value="2015" class="optionSelect" >2015</option>
                            <option value="2014" class="optionSelect" >2014</option>
                            <option value="2013" class="optionSelect" >2013</option>
                            <option value="2012" class="optionSelect" >2012</option>
                            <option value="2011" class="optionSelect" >2011</option>
                            <option value="2010" class="optionSelect" >2010</option>
                            <option value="2009" class="optionSelect" >2009</option>
                            <option value="2008" class="optionSelect" >2008</option>
                            <option value="2007" class="optionSelect" >2007</option>
                            <option value="2006" class="optionSelect" >2006</option>
                            <option value="2005" class="optionSelect" >2005</option>
                            <option value="2004" class="optionSelect" >2004</option>
                            <option value="2003" class="optionSelect" >2003</option>
                            <option value="2002" class="optionSelect" >2002</option>
                            <option value="2001" class="optionSelect" >2001</option>
                            <option value="2000" class="optionSelect" >2000</option>
                            <option value="1999" class="optionSelect" >1999</option>
                            <option value="1998" class="optionSelect" >1998</option>
                            <option value="1997" class="optionSelect" >1997</option>
                            <option value="1996" class="optionSelect" >1996</option>
                            <option value="1995" class="optionSelect" >1995</option>
                            <option value="1994" class="optionSelect" >1994</option>
                            <option value="1993" class="optionSelect" >1993</option>
                            <option value="1992" class="optionSelect" >1992</option>
                            <option value="1991" class="optionSelect" >1991</option>
                            <option value="1990" class="optionSelect" >1990</option>
                            <option value="1989" class="optionSelect" >1989</option>
                            <option value="1988" class="optionSelect" >1988</option>
                            <option value="1987" class="optionSelect" >1987</option>
                            <option value="1986" class="optionSelect" >1986</option>
                            <option value="1985" class="optionSelect" >1985</option>
                            <option value="1984" class="optionSelect" >1984</option>
                            <option value="1983" class="optionSelect" >1983</option>
                            <option value="1982" class="optionSelect" >1982</option>
                            <option value="1981" class="optionSelect" >1981</option>
                            <option value="1980" class="optionSelect" >1980</option>
                            <option value="1979" class="optionSelect" >1979</option>
                            <option value="1978" class="optionSelect" >1978</option>
                            <option value="1977" class="optionSelect" >1977</option>
                            <option value="1976" class="optionSelect" >1976</option>
                            <option value="1975" class="optionSelect" >1975</option>
                            <option value="1974" class="optionSelect" >1974</option>
                            <option value="1973" class="optionSelect" >1973</option>
                            <option value="1972" class="optionSelect" >1972</option>
                            <option value="1971" class="optionSelect" >1971</option>
                            <option value="1970" class="optionSelect" >1970</option>
                            <option value="1969" class="optionSelect" >1969</option>
                            <option value="1968" class="optionSelect" >1968</option>
                            <option value="1967" class="optionSelect" >1967</option>
                            <option value="1966" class="optionSelect" >1966</option>
                            <option value="1965" class="optionSelect" >1965</option>
                            <option value="1964" class="optionSelect" >1964</option>
                            <option value="1963" class="optionSelect" >1963</option>
                            <option value="1962" class="optionSelect" >1962</option>
                            <option value="1961" class="optionSelect" >1961</option>
                            <option value="1960" class="optionSelect" >1960</option>
                            <option value="1959" class="optionSelect" >1959</option>
                            <option value="1958" class="optionSelect" >1958</option>
                            <option value="1957" class="optionSelect" >1957</option>
                            <option value="1956" class="optionSelect" >1956</option>
                            <option value="1955" class="optionSelect" >1955</option>
                            <option value="1954" class="optionSelect" >1954</option>
                            <option value="1953" class="optionSelect" >1953</option>
                            <option value="1952" class="optionSelect" >1952</option>
                            <option value="1951" class="optionSelect" >1951</option>
                            <option value="1950" class="optionSelect" >1950</option>
                            <option value="1949" class="optionSelect" >1949</option>
                            <option value="1948" class="optionSelect" >1948</option>
                            <option value="1947" class="optionSelect" >1947</option>
                            <option value="1946" class="optionSelect" >1946</option>
                            <option value="1945" class="optionSelect" >1945</option>
                            <option value="1944" class="optionSelect" >1944</option>
                            <option value="1943" class="optionSelect" >1943</option>
                            <option value="1942" class="optionSelect" >1942</option>
                            <option value="1941" class="optionSelect" >1941</option>
                            <option value="1940" class="optionSelect" >1940</option>
                            <option value="1939" class="optionSelect" >1939</option>
                            <option value="1938" class="optionSelect" >1938</option>
                            <option value="1937" class="optionSelect" >1937</option>
                            <option value="1936" class="optionSelect" >1936</option>
                            <option value="1935" class="optionSelect" >1935</option>
                            <option value="1934" class="optionSelect" >1934</option>
                            <option value="1933" class="optionSelect" >1933</option>
                            <option value="1932" class="optionSelect" >1932</option>
                            <option value="1931" class="optionSelect" >1931</option>
                            <option value="1930" class="optionSelect" >1930</option>
                            <option value="1929" class="optionSelect" >1929</option>
                            <option value="1928" class="optionSelect" >1928</option>
                            <option value="1927" class="optionSelect" >1927</option>
                            <option value="1926" class="optionSelect" >1926</option>
                            <option value="1925" class="optionSelect" >1925</option>
                            <option value="1924" class="optionSelect" >1924</option>
                            <option value="1923" class="optionSelect" >1923</option>
                            <option value="1922" class="optionSelect" >1922</option>
                            <option value="1921" class="optionSelect" >1921</option>
                            <option value="1920" class="optionSelect" >1920</option>
                            <option value="1919" class="optionSelect" >1919</option>
                            <option value="1918" class="optionSelect" >1918</option>
                            <option value="1917" class="optionSelect" >1917</option>
                            <option value="1916" class="optionSelect" >1916</option>
                            <option value="1915" class="optionSelect" >1915</option>
                            <option value="1914" class="optionSelect" >1914</option>
                            <option value="1913" class="optionSelect" >1913</option>
                            <option value="1912" class="optionSelect" >1912</option>
                            <option value="1911" class="optionSelect" >1911</option>
                            <option value="1910" class="optionSelect" >1910</option>
                            <option value="1909" class="optionSelect" >1909</option>
                            <option value="1908" class="optionSelect" >1908</option>
                            <option value="1907" class="optionSelect" >1907</option>
                            <option value="1906" class="optionSelect" >1906</option>
                            <option value="1905" class="optionSelect" >1905</option>
                            <option value="1904" class="optionSelect" >1904</option>
                            <option value="1903" class="optionSelect" >1903</option>
                            <option value="1902" class="optionSelect" >1902</option>
                            <option value="1901" class="optionSelect" >1901</option>
                            <option value="1900" class="optionSelect" >1900</option>
                            <option value="1899" class="optionSelect" >1899</option>
                    </select>	
		<script type="text/javascript">
            $(document).ready(function() {
               var current = $('#yearDropDown').val();
                  if (current != '0') {
                      $('#yearDropDown').css('color','#000000');
                  } else {
                      $('#yearDropDown').css('color','#A9A9A9');
                  }
               $('#yearDropDown').change(function() {
                  var current = $('#yearDropDown').val();
                  if (current != '0') {
                      $('#yearDropDown').css('color','#000000');
                  } else {
                      $('#yearDropDown').css('color','#A9A9A9');
                  }
               }); 
            });
    	</script>
		    </div>
						</section>
    		<div id="dropDownGroup" class="clearMe">&nbsp;</div>
							<script>
					$(document).ready(function(){
						$("#dropDownGroupError").addClass("securityDobErrorPadding");
					});
				</script>
						<script>
				$(document).ready(function(){
					$("#dayDropDown, #monthDropDown, #yearDropDown").change(function(){
						if($(this).hasClass("selectError")){
							$(this).removeClass("selectError");
						}
					});
				});
			</script>
		</section>
		<div class="clearMe">&nbsp;</div>
				<section id="forgotPasswordButtonSection" class="uiButtonPrimary">
			<input id="forgotPasswordContinueButton" type="submit" value="Fortsett" />
			<section class="cancelLinkSection">
				<a id="forgotPasswordCancelLink" class="cancelLink" href="/liquid/external/auth/login.action">Avbryt</a>
			</section>
        </section>
    </form>
		</section>		
		<div class="clearMe"></div>
	</section>
	<section id="section_leftColumn" class="forgotPasswordLeftColumn">&nbsp;</section>
	<div class="clearMe"></div>	
		</section>
					
			
	<footer><div id="footerContainer" ></div></footer>

	<script type="text/javascript" src="https://cdn-a.sonyentertainmentnetwork.com/unifiedFooter/footerJSONHTML.min.js"></script>
	        <script>

			SNEIUnifiedFooter.country = "NO";
        	SNEIUnifiedFooter.language = "no";
        	SNEIUnifiedFooter.responsive = "true";
			SNEIUnifiedFooter.jsonDomain = "https://cdn-a.sonyentertainmentnetwork.com/unifiedFooter/";
			SNEIUnifiedFooter.displayBrowserWarning = "true";
			SNEIUnifiedFooter.headerTextColor = "#5C5C5C";
			SNEIUnifiedFooter.linkTextColor = "#5C5C5C";
			SNEIUnifiedFooter.copyrightTextColor = "#5C5C5C";
			SNEIUnifiedFooter.linkHoverTextColor = "#2B71A5";

        	
							SNEIUnifiedFooter.openLinksInNewWindow = "true";
			
					
			
							if(is_ie8_or_ie7){
					SNEIUnifiedFooter.useTextAccordion = "true";
					SNEIUnifiedFooter.responsive = "false";
				}
			
  			SNEIUnifiedFooter.useLinkTracking = "true";
			SNEIUnifiedFooter.load();
        </script>
				<script>
				$(document).ready(function(){
			if(navigator.userAgent.toLowerCase().indexOf("sony tablet p build") != -1){
				$("footer").css("padding-bottom","100px");
			}
		});
	</script>
			<script>
		var Tokenization = {
			endpoint: "https://tokenization.api.playstation.com/api/v1/cctoken",
			timeout: 5000,
            showErrorMessage: true
		};

		Tokenization.unsupportedBrowserErrorMessage = "Det er ikke støtte for nettleseren du bruker. Oppdater nettleseren, og prøv på nytt.";
		Tokenization.tokenizationErrorMessage = "Kan ikke lagre kredittkortinformasjon for øyeblikket. Prøv igjen senere.";
	</script>
			<script>
		$(document).ready(function(){
			if(is_ie8_or_ie7){
				$("body").addClass("msie8ExternalBody");
			}
		});
	</script>
			</section>
					    	</body>
    </html>
